@model Tutorin.ViewModels.PrestationViewModel
@using Tutorin.Models
@{
    ViewBag.Title = "Inscrire élève à prestation";
    Layout = "_LayoutDuSite";
}

@{
    var responsableId = User.FindFirst("RoleId").Value;
}

@section css {
    <link href="/css/FormCours.css" rel="stylesheet" />
}

@section Menu {

    <a href="/Home/">Accueil</a>
    <a href="/Prestation/VoirPrestationsValidees?responsableId=@responsableId">Prestations</a>
    <a href="/ResponsableEleve/modifier?responsableId=@responsableId">Mon Compte</a>
    <a href="/login/Deconnexion">Déconnexion</a>
}

<div class="nomUtilisateur">
    <h2>@Model.ResponsableEleve.Utilisateur.Nom @Model.ResponsableEleve.Utilisateur.Prenom</h2>
    <h3><i class="fa-solid fa-user"></i>&ensp;Responsable</h3>
</div>
<br />

<h1>Choisir l'éleve à inscrire :</h1>

@using (Html.BeginForm("AjoutEleveAPrestation", "Prestation", FormMethod.Post))
{
    <input name="prestationId" type="hidden" value="@Model.Prestation.Id" />
    @foreach (Tutorin.Models.Eleve eleve in Model.ListeEleves)
    {
        <lable class="form-control">
            <input name="eleveIds" type="checkbox" value="@eleve.Id" />
            <texte>
                @eleve.Utilisateur.Prenom @eleve.Utilisateur.Nom
            </texte>
        </lable>

    }
    <input type="submit" value="Inscrire" class="boutonStyle" />
}