@model Tutorin.Models.ResponsableEleve
@{
    ViewBag.Title = "Ajout Responsable Eleve";
    Layout = "_LayoutDuSite";
}

<h1>Ajouter un Responsable d'élève</h1>
<div>

    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Ajouter un responsable : </legend>

            <div>
                @Html.LabelFor(m => Model.Utilisateur.Nom)<br />
                @Html.TextBoxFor(m => Model.Utilisateur.Nom)<br />
                @Html.ValidationMessageFor(m => Model.Utilisateur.Nom)
            </div>

            <div>
                @Html.LabelFor(m => Model.Utilisateur.Prenom)<br />
                @Html.TextBoxFor(m => Model.Utilisateur.Prenom)<br />
                @Html.ValidationMessageFor(m => Model.Utilisateur.Prenom)
            </div>

            <div>
                @Html.LabelFor(m => Model.Utilisateur.Identifiant) <br />
                @Html.TextBoxFor(m => Model.Utilisateur.Identifiant)<br />
                @Html.ValidationMessageFor(m => Model.Utilisateur.Identifiant)
            </div>

            <div>
                @Html.LabelFor(m => Model.Utilisateur.MotDePasse)<br />
                @Html.TextBoxFor(m => Model.Utilisateur.MotDePasse, new {@type = "password" } )<br />
                @Html.ValidationMessageFor(m => Model.Utilisateur.MotDePasse)
            </div>

            <div>
                @Html.LabelFor(m => Model.Mail)<br />
                @Html.TextBoxFor(m => Model.Mail, new {@type = "mail"} )<br />
                @Html.ValidationMessageFor(m => Model.Mail)
            </div>

@*            <div>
                @Html.LabelFor(m => Model.)<br />
                @Html.TextBoxFor(m => Model.Niveau )<br />
                @Html.ValidationMessageFor(m => Model.Niveau)
            </div>*@


            <input class="bouttonStyle" type="submit" value="Ajouter" />
        </fieldset>
    }

</div>

@section Script {
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}