@model Tutorin.ViewModels.ResponsableEleveViewModel
@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Liste des Responsables";
}

@{
    var gestionnaireId = User.FindFirst("RoleId").Value;
}

@section Menu {
    <a href="/Home/Index">Accueil</a>
    <a href="/Gestionnaire/TableauDeBord">Tableau de Bord</a>
    <a href="/Gestionnaire/modifier?gestionnaireId=@gestionnaireId">Mon Compte</a>
    <a href="/login/Deconnexion">Déconnexion</a>
}

@section css {
    <link href="/css/Footer.css" rel="stylesheet" />
    <link href="/css/Tableaux.css" rel="stylesheet" />
}


<h1 class="titre">Liste des responsables des élèves</h1>
<input type="text" id="search" onkeyup="myFunction()" placeholder="Rechercher">
<table id="table" border="1">
    <thead>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Identifiant</td>
            <td>Mail</td>
            @*<th>Abonnements</th>*@
            <td colspan="2">Actions</td>
        </tr>
    </thead>

    @foreach (Tutorin.Models.ResponsableEleve responsable in Model.ListeResponsablesEleves)
    {
            <tr>
                <td>@responsable.Utilisateur.Nom</td>
                <td>@responsable.Utilisateur.Prenom</td>
                <td>@responsable.Utilisateur.Identifiant</td>
                <td>@responsable.Mail</td>
                @*<td>@responsable.Abonnements</td>*@
                <td><a href="/ResponsableEleve/modifier?responsableId=@responsable.Id"><i class="fa-solid fa-pen"></i></a></td>
                <td><a href="/ResponsableEleve/supprimer?responsableId=@responsable.Id"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
    }
</table>

<br />
<a href="/ResponsableEleve/ajouter"><i class="fa-solid fa-plus fa-lg"></i>Ajouter un responsable</a>

@section Script {
    <script type="text/javascript" src="~/Scripts/RechercheTable.js"></script>
}
