@model Tutorin.ViewModels.TableauBordResponsableViewModel
@using Tutorin.Models
@{
    ViewBag.Title = "Tableau de Bord Responsable Eleve";
    Layout = "_LayoutDuSite";
}

@section css {
    <link href="/css/cards.css" rel="stylesheet" />
}

@section Menu {

    <a href="/Home/">Accueil</a>
    <a href="/Prestation/VoirPrestationsValidees?responsableId=@Model.ResponsableEleve.Id">Prestations</a>
    <a href="/ResponsableEleve/modifier?responsableId=@Model.ResponsableEleve.Id">Mon Compte</a>
    <a href="/login/Deconnexion">Déconnexion</a>
}

<div class="nomUtilisateur">
    <h2>@Model.ResponsableEleve.Utilisateur.Nom @Model.ResponsableEleve.Utilisateur.Prenom</h2>
</div>

<h1>Choisir l'éleve à inscrire :</h1>
<div class="cards">

    @foreach (Tutorin.Models.Abonnement abonnement in Model.Abonnements)
    {
        @if (abonnement.EleveId != null && abonnement.DateFin == DateTime.MinValue)
        {
                    <div class="card eleve">
                        <div class="card__icon">
                            <i class="fa-sharp fa-solid fa-graduation-cap"></i>
                        </div>

                        <h2 class="card__title">@abonnement.Eleve.Utilisateur.Nom @abonnement.Eleve.Utilisateur.Prenom</h2>

                        <div>
                            Niveau : @abonnement.Eleve.Niveau<br>
                            Abonnement : @TypeAbonnementExtensions.NomAbonnement(abonnement.Type)
                        </div>

                        <p class="card__button">
                            <a class="card__link" href="/Prestation/inscrireEleve?eleveId=@abonnement.Eleve.Id">
                                <i class="fa-sharp fa-solid fa-xmark"></i>
                                Inscrire l'élève
                            </a>
                        </p>

                    </div>

        }
    }

</div>