@model Tutorin.ViewModels.ContenuPedagogiqueViewModel
@using Tutorin.Models

@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Liste des cours";
}

@section Menu {

    <a href="/home/">Accueil</a>
    <a>Présentation</a>
}

@section css {
    <link href="/css/Footer.css" rel="stylesheet" />
    <link href="/css/cards.css" rel="stylesheet" />
}

<h1>Liste des cours </h1>

 @using (Html.BeginForm("Rechercher", "ContenuPedagogique", FormMethod.Post))
        {  
            <table>       
                <tr>
                    <td>@Html.Label("Niveau scolaire recherché : ")</td>
                    <td>@Html.DropDownListFor(m => Model.Niveau, new SelectList(Enum.GetValues(typeof(TypeNiveau))))</td>
                </tr>
                <tr>
                    <td>@Html.Label("Matière recherchée : ")</td>
            <td>@Html.DropDownListFor(m => Model.Matiere, new SelectList(Enum.GetValues(typeof(TypeMatiere))))</td>
                </tr>
            </table>
            <input type="submit" value="Rechercher" />
        }

    <div class="cards">
        @foreach (Tutorin.Models.ContenuPedagogique cours in Model.ListeContenusPedagogiques)
        {  
            <div class="card abonnement">
            <a href="/ContenuPedagogique/afficher?coursId=@cours.Id" class="lien-afficher-cours">
            <div class="card__icon">
                <i class="fa-solid fa-file-contract"></i>
            </div>

            <h2 class="card__title">@cours.Titre</h2>

            <div>                    
                <p>Matière: @cours.Matiere</p>
                <p>Niveau: @cours.Niveau</p>   
            </div>
            </a>
            </div>

        }
    </div>