@model Tutorin.ViewModels.ContenuPedagogiqueViewModel
@using Tutorin.Models

@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Liste des cours";
}

@section Menu {

    <a href="/home/">Accueil</a>
    <a>Présentation</a>
}

@section css {
    <link href="/css/Cours.css" rel="stylesheet" />
}

<h1>Liste des cours : </h1>

@*<table border="1">

    <tr>
        <th>Numéro</th>
        <th>Titre</th>
        <th>Matière</th>
        <th>Niveau</th>
        <th>Date de publication</th>
        <th>Dernière mise à jour</th>
        <th>Etat</th>
        <th>Auteur</th>
    </tr>

    @foreach (Tutorin.Models.ContenuPedagogique cours in Model.ListeContenusPedagogiques)
    {
        <tr>
            <td>@cours.Id</td>
            <td>@cours.Titre</td>
            <td>@cours.Matiere</td>
            <td>@cours.Niveau</td>
            <td>@cours.DatePublication</td>
            <td>@cours.DateMiseAJour</td>
            <td>@cours.Etat</td>
            <td>
                <a href="/ContenuPedagogique/modifier?coursId=@cours.Id">Modifier</a>
                <a href="/ContenuPedagogique/supprimer?coursId=@cours.Id">Supprimer</a>
                <a href="/ContenuPedagogique/afficher?coursId=@cours.Id">Afficher</a>
            </td>
        </tr>
    }
</table>*@

 @using (Html.BeginForm("Rechercher", "ContenuPedagogique", FormMethod.Post))
        {  
            <table>       
                <tr>
                    <td>@Html.Label("Niveau scolaire recherché : ")</td>
                    <td>@Html.DropDownListFor(m => Model.Niveau, new SelectList(Enum.GetValues(typeof(TypeNiveau))))</td>
                </tr>
                <tr>
                    <td>@Html.Label("Matière recherchée : ")</td>
            <td>@Html.DropDownListFor(m => Model.Matiere, new SelectList(Enum.GetValues(typeof(TypeMatiere))))</td>
                </tr>
            </table>
            <input type="submit" value="Rechercher" />
        }

    <div class="cards-cours">
    @foreach (Tutorin.Models.ContenuPedagogique cours in Model.ListeContenusPedagogiques)
        {
            <a href="/ContenuPedagogique/afficher?coursId=@cours.Id" class="afficher-cours">
            <article class="card-cours">
                <header class="titre-card">
                    <h2>@cours.Titre</h2>
                </header>
                <div class="content">
                    <p>Matière: @cours.Matiere</p>
                    <p>Niveau: @cours.Niveau</p>   
                </div>
            </article>
            </a>
        }
    </div>