@model Tutorin.ViewModels.ContenuPedagogiqueViewModel
@using System.Security.Claims;
@using Tutorin.Models

@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Liste des cours";
}

@{
    var enseignantId = User.FindFirst("RoleId").Value;
    var eleveId = User.FindFirst("RoleId").Value;
}

@{
    bool authentifie = User.Identity.IsAuthenticated;
    string role = "";
    if (authentifie)
    {
        role = User.FindFirst(ClaimTypes.Role).Value;
    }
}

@section Menu {
    @if (role.Equals("Eleve"))
    {
        <a href="/Index">Accueil</a>
        <a href="/Eleve/TableauDeBord">Tableau de Bord</a>
        <a href="/Eleve/modifier?eleveId=@eleveId">Mon Compte</a>
        <a href="/login/Deconnexion">Déconnexion</a>

    } else if (role.Equals("Enseignant"))
    {
        <a href="/Home/Index">Accueil</a>
        <a href="/Enseignant/TableauDeBord">Tableau de bord</a>
        <a href="/Enseignant/modifier?enseignantId=@enseignantId">Mon Compte</a>
        <a href="/login/Deconnexion">Déconnexion</a>
    }
}

@section css {
    <link href="/css/Footer.css" rel="stylesheet" />
    <link href="/css/cards.css" rel="stylesheet" />
}

<h1>Liste des cours </h1>

 @using (Html.BeginForm("Rechercher", "ContenuPedagogique", FormMethod.Post))
        {  
            <table>       
                <tr>
                    <td>@Html.Label("Niveau scolaire recherché : ")</td>
                    <td>@Html.DropDownListFor(m => Model.Niveau, new SelectList(Enum.GetValues(typeof(TypeNiveau))))</td>
                </tr>
                <tr>
                    <td>@Html.Label("Matière recherchée : ")</td>
            <td>@Html.DropDownListFor(m => Model.Matiere, new SelectList(Enum.GetValues(typeof(TypeMatiere))))</td>
                </tr>
            </table>
            <input type="submit" value="Rechercher" />
        }

    <div class="cards">
        @foreach (Tutorin.Models.ContenuPedagogique cours in Model.ListeContenusPedagogiques)
        {  
            <div class="card abonnement">
            <a href="/ContenuPedagogique/afficher?coursId=@cours.Id" class="lien-afficher-cours">
            <div class="card__icon">
                    @Html.Raw(TypeMatiereExtensions.IconHTMLPrestation(cours.Matiere))
            </div>

            <h2 class="card__title">@cours.Titre</h2>

            <div>                    
                <p>Matière: @TypeMatiereExtensions.NomMatiere(cours.Matiere)</p>
                <p>Niveau: @TypeNiveauExtensions.NomDuNiveau(cours.Niveau)</p>
            </div>
            </a>
            </div>

        }
    </div>