<!DOCTYPE html>


<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/css/Site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/9659205553.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
    @RenderSection("css", required: false)
</head>

<body>
    <header>

        <div id="entreprise">
            <img src="/Images/Visages-removebg-preview.png" alt="Logo" />
            <h1>Tutor'in</h1>
        </div>

        <!-- Menu desktop -->
        <nav Id="navbar-desktop">
            
            @RenderSection("Menu")
            
        </nav>


        <!-- Menu mobile -->
        <nav class="navbar-mobile">
            <i class="fas fa-bars"></i>
            <div class="modal">
                <div id="navbar-mobile-list">>
                    <!-- Se recopie tout seul avec le code burgerMenu.js -->
                </div>
            </div>
        </nav>

    </header>


    <div id="container">
        @RenderBody()
    </div>


    <footer>
        <hr />
        <p>Copyright © 2022. Par Tutor'in, 1ère plateforme de tutorat en principauté de Groland | <a href="#">Mentions légales</a> | <a href="#">Politique de Confidentialité</a> | <a href="#">Devenir annonceur</a></p>
    </footer>

    <script type="text/javascript" src="~/Scripts/BurgerMenu.js"></script>
    @RenderSection("Script", required: false)

</body>
</html>
