@model Tutorin.Models.Eleve
@using Tutorin.Models
@{
    ViewBag.Title = "Ajout élève";
    Layout = "_LayoutDuSite";
}

@section css {
    <link href="/css/Form.css" rel="stylesheet" />
}

@{
    var responsableId = User.FindFirst("RoleId").Value;
}

<h1>Ajouter un élève à l'abonnement</h1>
<div>

    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Eleve</legend>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Utilisateur.Nom)<br />
                @Html.TextBoxFor(m => Model.Utilisateur.Nom)<br />
                @Html.ValidationMessageFor(m => Model.Utilisateur.Nom)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Utilisateur.Prenom)<br />
                @Html.TextBoxFor(m => Model.Utilisateur.Prenom)<br />
                @Html.ValidationMessageFor(m => Model.Utilisateur.Prenom)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Utilisateur.Identifiant) <br />
                @Html.TextBoxFor(m => Model.Utilisateur.Identifiant)<br />
                @Html.ValidationMessageFor(m => Model.Utilisateur.Identifiant)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Utilisateur.MotDePasse)<br />
                @Html.TextBoxFor(m => Model.Utilisateur.MotDePasse, new {@type = "password" } )<br />
                @Html.ValidationMessageFor(m => Model.Utilisateur.MotDePasse)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.DateNaissance)<br />
                @Html.TextBoxFor(m => Model.DateNaissance, new {@type = "date"} )<br />
                @Html.ValidationMessageFor(m => Model.DateNaissance)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Niveau)
                @Html.DropDownListFor(m => Model.Niveau, new SelectList(Enum.GetValues(typeof(TypeNiveau))))
                @Html.ValidationMessageFor(m => Model.Niveau)
            </div>


            <input class="boutonStyle" type="submit" value="Ajouter" />
        </fieldset>
    }

</div>

@section Script {
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}


@section Menu {

    <a href="/home/">Accueil</a>
    <a href="/Prestation/">Prestations</a>
    <a href="/ResponsableEleve/modifier?responsableId=@responsableId">Mon Compte</a>
    <a href="/login/Deconnexion">Déconnexion</a>
}
