@model Tutorin.ViewModels.EnseignantViewModel
@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Liste des enseignants";
}


<h1>Liste des enseignants : </h1>
<table border="1">

    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Identifiant</th>
        <th>Matière</th>
        <th>Niveau</th>
        <th>Action</th>
     
    </tr>

    @foreach (Tutorin.Models.Enseignant enseignant in Model.ListeEnseignants)
    {
            <tr>
                <td>@enseignant.Utilisateur.Nom</td>
                <td>@enseignant.Utilisateur.Prenom</td>
                <td>@enseignant.Utilisateur.Identifiant</td>
                <td>@enseignant.Matiere</td>
                <td>@enseignant.Niveaux</td>
                <td>
                    <a href="/Enseignant/modifier?enseignantId=@enseignant.Id">Modifier</a>
                    <a href="/Enseignant/supprimer?enseignantId=@enseignant.Id">Supprimer</a>
                <a href="/ContenuPedagogique/ajouter?enseignantId=@enseignant.Id">Créer un cours</a>
                </td>
            </tr>
    }
</table>

<br />
<a href="/Enseignant/ajouter">Ajouter un enseignant</a>

@section Menu {

    <ul>
        <li>Accueil</li>
        <li>Présentation</li>
    </ul>
}
