@model Tutorin.ViewModels.UtilisateurViewModel
@{
    ViewBag.Title = "S'authentifier";
    Layout = "_LayoutDuSite";
}

@section css {

    <link href="/css/Login.css" rel="stylesheet" />
}

@if (Model.Authentifie)
{
    <div class="msg-deconnexion">
        <h3>
            Vous êtes déjà authentifié avec le login :
            @Model.Utilisateur.Identifiant
        </h3>
        @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
    </div>
}
else
{
    <h1>
        Veuillez vous authentifier :
    </h1>

    @using (Html.BeginForm())
    {
        <div class="login-form">

            <div class="id">
                <span class="textbox">@Html.TextBoxFor(m => m.Utilisateur.Identifiant,  new {placeholder = "Identifiant"})</span>
                <span class="msg-erreur">@Html.ValidationMessageFor(m => m.Utilisateur.Identifiant)</span>
            </div>

            <div class="mdp">
                <span class="textbox">@Html.PasswordFor(m => m.Utilisateur.MotDePasse, new {placeholder = "Mot de passe"})</span>
                <span class="msg-erreur">@Html.ValidationMessageFor(m => m.Utilisateur.MotDePasse)</span>
            </div>

            <input class="btn-connecter" type="submit" value="Se connecter"/>
            <br/>
            @Html.ActionLink("Créer un compte", "CreerCompteUtilisateur")
        </div>
    }

}


@section Script {
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

@section Menu {
    <a href="/home/">Accueil</a>
    <a>Présentation</a>
}