@model Tutorin.ViewModels.EleveViewModel
@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Liste des élèves";
}


<h1>Liste des élèves : </h1>
<table border="1">

    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Identifiant</th>
        <th>Date de naissance</th>
        <th>Niveau</th>
        <th>Actions</th>
    </tr>

    @foreach (Tutorin.Models.Eleve eleve in Model.ListeEleves)
    {
            <tr>
                <td>@eleve.Utilisateur.Nom</td>
                <td>@eleve.Utilisateur.Prenom</td>
                <td>@eleve.Utilisateur.Identifiant</td>
                <td>@eleve.DateNaissance</td>
                <td>@eleve.Niveau</td>
                <td>
                    <a href="/Eleve/modifier?eleveId=@eleve.Id">Modifier</a>
                    <a href="/Eleve/supprimer/@eleve.Id">Supprimer</a>
                </td>
            </tr>
    }
</table>

<br />
<a href="/Eleve/ajouter">Ajouter un élève</a>


