@model Tutorin.ViewModels.EleveViewModel
@using Tutorin.Models
@using System.Security.Claims;

@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Modifier élève";
}

@{
    var gestionnaireId = User.FindFirst("RoleId").Value;
}

@{
    bool authentifie = User.Identity.IsAuthenticated;
    string role = "";
    if (authentifie)
    {
        role = User.FindFirst(ClaimTypes.Role).Value;
    }
}

@section css {
    <link href="/css/Form.css" rel="stylesheet" />
}

<h1>Modifier</h1>
<div>

    @using (Html.BeginForm("Modifier", "Eleve", FormMethod.Post))
    {
        <fieldset>
            <legend>Elève</legend>

            <div class="hidden">
                @Html.LabelFor(m => Model.Eleve.Id)<br />
                @Html.TextBoxFor(m => Model.Eleve.Id)<br />
                @Html.ValidationMessageFor(m => Model.Eleve.Id)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Eleve.Utilisateur.Nom)<br />
                @Html.TextBoxFor(m => Model.Eleve.Utilisateur.Nom)<br />
                @Html.ValidationMessageFor(m => Model.Eleve.Utilisateur.Nom)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Eleve.Utilisateur.Prenom)<br />
                @Html.TextBoxFor(m => Model.Eleve.Utilisateur.Prenom)<br />
                @Html.ValidationMessageFor(m => Model.Eleve.Utilisateur.Prenom)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Eleve.Utilisateur.Identifiant) <br />
                @Html.TextBoxFor(m => Model.Eleve.Utilisateur.Identifiant)<br />
                @Html.ValidationMessageFor(m => Model.Eleve.Utilisateur.Identifiant)
            </div>

            <div class="hidden">
                @Html.LabelFor(m => Model.Eleve.Utilisateur.Id) <br />
                @Html.TextBoxFor(m => Model.Eleve.Utilisateur.Id)<br />
                @Html.ValidationMessageFor(m => Model.Eleve.Utilisateur.Id)
            </div>

            <div class="hidden">
                @Html.LabelFor(m => Model.Eleve.UtilisateurId) <br />
                @Html.TextBoxFor(m => Model.Eleve.UtilisateurId)<br />
                @Html.ValidationMessageFor(m => Model.Eleve.UtilisateurId)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Eleve.DateNaissance)<br />
                @Html.EditorFor(m => Model.Eleve.DateNaissance)<br />
                @Html.ValidationMessageFor(m => Model.Eleve.DateNaissance)
            </div>

            <div class="boite-form">
                @Html.LabelFor(m => Model.Eleve.Niveau)<br />
                @Html.DropDownListFor(m => Model.Eleve.Niveau, new SelectList(Enum.GetValues(typeof(TypeNiveau)))) <br />
                @Html.ValidationMessageFor(m => Model.Eleve.Niveau)
            </div>
            <input class="boutonStyle" type="submit" value="Modifier" />
        </fieldset>
    }
</div>


@if (role == "Eleve")
{
    <form action="/Eleve/ModifierMotDePasse" method="post">
        <div class="boite-form">
            <!-- bouton qui active le menu deroulant pour modifier le mdp, il a le type=button pour ne pas être submit par défaut -->
            <label class="mdp-modifier">Modifier le mot de passe&ensp;</label>
            <button type="button" id="btn-modifier"><i class="fa-solid fa-arrow-down"></i></button>
            <!-- contenu du menu deroulant pour modifier le mot de passe -->
            <div id="form-modifier" style="display: none">
            <div>
                @Html.LabelFor(m => Model.NewPassword.OldPassword) <br />
                @Html.PasswordFor(m => Model.NewPassword.OldPassword)<br />
                @Html.ValidationMessageFor(m => Model.NewPassword.OldPassword)
            </div>
            <div>
                @Html.LabelFor(m => Model.NewPassword.NouveauPassword) <br />
                @Html.PasswordFor(m => Model.NewPassword.NouveauPassword)<br />
                @Html.ValidationMessageFor(m => Model.NewPassword.NouveauPassword)
            </div>
            <div>
                @Html.LabelFor(m => Model.NewPassword.ConfirmPassword) <br />
                @Html.PasswordFor(m => Model.NewPassword.ConfirmPassword)<br />
                @Html.ValidationMessageFor(m => Model.NewPassword.ConfirmPassword)
            </div>
            <input class="boutonStyle" type="submit" value="Valider" />
            </div>
        </div>
    </form>
}

@section Script {
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/Scripts/MenuModifierMdp.js"></script>
}

@section Menu {
    @if (role.Equals("Eleve"))
    {
        <a href="/Home/Index">Accueil</a>
        <a href="/ContenuPedagogique/">Les cours</a>
        <a href="/Eleve/TableauDeBord">Tableau de Bord</a>
        <a href="/login/Deconnexion">Déconnexion</a>

    } else if (role.Equals("Gestionnaire"))
    {
        <a href="/Home/Index">Accueil</a>
        <a href="/Gestionnaire/TableauDeBord">Tableau de bord</a>
        <a href="/Gestionnaire/modifier?gestionnaireId=@gestionnaireId">Mon Compte</a>
        <a href="/login/Deconnexion">Déconnexion</a>
    }
}

