@model Tutorin.ViewModels.TableauBordGestionnaireViewModel
@using Tutorin.Models
@{
    ViewBag.Title = "Tableau de Bord Gestionnaire";
    Layout = "_LayoutDuSite";
}

@section css {
    <link href="/css/Tableaux.css" rel="stylesheet" />
}

@section Menu {

    <a href="/Home/Index">Accueil</a>
    <a href="/Gestionnaire/modifier?gestionnaireId=@Model.Gestionnaire.Id">Mon Compte</a>
    <a href="/login/Deconnexion">Déconnexion</a>
}

<div class="nomUtilisateur">
    <h2>@Model.Gestionnaire.Utilisateur.Nom.ToUpper() @Model.Gestionnaire.Utilisateur.Prenom</h2>
    <h3>Gestionnaire</h3>
</div>

<h1 class="titre">Les cours</h1>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Etat des cours</th>
                <th>Nombre de cours</th>
            </tr>
        </thead>
            <tr>
                <td>A Valider :</td>
                <td>@Model.NbCoursAValider</td>
            </tr>
            <tr>
                <td>A Modifier :</td>
                <td>@Model.NbCoursAModifier</td>
            </tr>
            <tr>
                <td>En Ligne :</td>
                <td>@Model.NbCoursEnLigne</td>
            </tr>
        <tfoot>
            <tr>
                <td>Total de cours :</td>
                <td>@Model.NbCoursTotal</td>
            </tr>
        </tfoot>
    </table>
    <a href="/ContenuPedagogique/Index2"><i class="fa-solid fa-magnifying-glass fa-lg"></i>Voir les cours</a>
</div>


<h1 class ="titre">Les prestations </h1>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Etat des prestations</th>
                <th>Nombre de prestations</th>
            </tr>
        </thead>
            <tr>
                <td>En cours d'affectation :</td>
                <td>@Model.NbPrestationAAffecter</td>
            </tr>
            <tr>
                <td>Enseignants inscrits :</td>
                <td>@Model.NbPrestationEnseignantsInscrits</td>
            </tr>
            <tr>
                <td>Payées par les responsables élèves :</td>
                <td>@Model.NbPrestationPayeeParResponsable</td>
            </tr>
            <tr>
                <td>Réalisées :</td>
                <td>@Model.NbPrestationRealisees</td>
            </tr>
            <tr>
                  
                <td>Enseignants payés :</td>
                <td>@Model.NbPrestationEnseigantPayes</td>
            </tr>
            <tr>
                <td>Facturées :</td>
                <td>@Model.NbPrestationFacturees</td>
            </tr>
            <tr>
                <td>Annulées :</td>
                <td>@Model.NbPrestationAnnulees</td>
            </tr>
        <tfoot>
            <tr>
                <td>Total de prestations :</td>
                <td>@Model.NbPrestationTotal</td>
            </tr>
        </tfoot>
</table>
    <a href="/Prestation/"><i class="fa-solid fa-magnifying-glass fa-lg"></i>Voir les prestations</a>
</div>


<h1 class="titre">Les utilisateurs</h1>
<div class="table">
<table>
    <thead>
        <tr>
            <th>Utilisateurs inscrits</th>
            <th>Nombre d'utilisateurs</th>
        </tr>
    </thead>
        <tr>
            <td>Les Responsables d'élèves :</td>
        <td>@Model.NbResponsableEleve</td>
        </tr>
        <tr>
            <td>Les Elèves :</td>
            <td>@Model.NbEleve</td>
        </tr>
        <tr>
            <td>Les Enseignants :</td>
            <td>@Model.NbEnseignant</td>
        </tr>
        <tr>
            <td>Les Gestionnaires :</td>
            <td>@Model.NbGestionnaire</td>
        </tr>
    <tfoot>
        <tr>
            <td>Total d'utilisateurs :</td>
            <td>@Model.NbUtilisateurTotal</td>
        </tr>
    </tfoot>
</table>
    <a href="/Gestionnaire/GererUtilisateurs"><i class="fa-solid fa-magnifying-glass fa-lg"></i>Voir les utilisateurs</a>
</div>

